
@using FinsaWeb.Models.InMemory;
@using FinsaWeb.Models.CoreNocciolo;
@using FinsaWeb.Models;

@{
    ViewData["Title"] = "Index";
}

<h2>ALLIEVI</h2>

@model IEnumerable<Allievo>
@foreach (var c in Model)
{

    <div>
        <span>
            Course: @c.IdStudente
        </span>
        <br />
        <span>
            @c.Nome
        </span>
        <span>
               @c.Cognome
        </span>
        <br />
        <span>
            CF: @c.CodiceFiscale
        </span>
        <br />
        <span>
            Type: @c.TipoStudente
        </span>
    </div>
    <br/>

}



