@model IEnumerable<Corso>
@using System.Linq;
<p><a asp-controller="Corsi" asp-action="Inserisci">Inserisci un Corso</a></p>

<h2>Visualizza Corsi</h2>

<table id="tabCorsi">
    <tr style="font-weight: bold;"><td>Id&nbsp;&nbsp;</td><td>Difficolt&agrave;&nbsp;&nbsp;</td><td>PrezzoBase&nbsp;&nbsp;</td><td>Titolo</td></tr>
    @foreach (var item in Model)
    {
        <tr id="rigaCorso_@item.IdCorso" class="righeCorsi"><td>@item.IdCorso</td><td>@item.Difficolta</td><td>@item.PrezzoBase</td><td>@item.Titolo</td><td><button data-corso-id="@item.IdCorso">Vedi Edizioni Corso</button></td></tr>
    }
</table>

<div id="details" hidden>
    <h3>Edizioni del corso IdCorso=<span id="idCorsoTitoloDetail"></span></h3>
    <table id="tabEdizioniCorso">
        <tr id="intestazioniTabEdizioniCorso" style="font-weight: bold;"><td>IdEdizioneCorso&nbsp;&nbsp;</td><td>DataInizioEdizioneCorso</td></tr>
    </table>
</div>
@*<script src="~/scripts/VediEdizioniCorso.js"></script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="~/scripts/VediEdizioniCorso.js"></script>